<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>About Flask</title>
</head>
<body>
    {% extends "template.html" %}
    {% block content %}

    <h1>About Flask</h1>
    <p>Flask is a micro web framework written in Python. It is classified as a microframework because it does not require particular tools or libraries. It has no database abstraction layer, form validation, or any other components where pre-existing third-party libraries provide common functions.</p>
    <p>Flask is a web framework, it's a Python module that lets you develop web applications easily.</p>
    <img src="/static/flask.webp" alt="Logo Flask">

    {% endblock %}
</body>
</html>